/* styles/Accordion.module.css */
.accordion {
    width: 100%;
    margin: 40px auto;
    border-radius: 4px;
  }
  
  .accordionItem {
    border-bottom: 1px solid #ccc;
  }
  
  .accordionHeader {
    display: block;
    padding: 15px;
    cursor: pointer;
  }
  .accordionHeader:hover{
    color:#fec800 !important;
  }
  
  .accordionBody {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
  }
  
  .accordionCheckbox {
    display: none;
  }
  
  .accordionCheckbox:checked ~ .accordionBody {
    max-height: 200px; /* Adjust as needed */
    padding: 0 15px 15px;
  }
  